body {
    background-color: antiquewhite;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffees-slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    position: relative;
    display: block;
}

.coffees-slider .coffees {
    width: 100%;
    height: auto;
    min-width: calc(var(--width) * var(--quantity));
    position: absolute;
    right: 0;
}

.coffees-slider .coffees .coffee {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    animation-delay: calc((20s/var(--quantity)) * (var(--position) - 1));
}

.coffees-slider .coffees .coffee img{
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

/* add grayscale to all images */
.coffee-img {
    filter: grayscale(1);
    transition: filter 0.3s ease-in-out;
}

/* when the slider is hovered, pause the slider */
.coffees-slider:hover .coffees .coffee {
    animation-play-state: paused!important;
}

/* when an image is hovered, remove the grayscale from the hovered image */
.coffee-img:hover {
    filter: grayscale(0);
}

/* when an image is hovered, make the other images gray */
.coffees-slider:hover .coffee-img {
    filter: grayscale(1);
}

/* the hovered image is excluded from the grayscale filter */
.coffees-slider:hover .coffee-img:hover {
    filter: grayscale(0);
}

.description {
    text-align: center;
    display: none;
}